/* === ELMENT DONC J'AI BESION
Background-color: #B52033
footer: #333;
color: #3D3F45;

*/


/* =====GENERELL===== */
body {
  margin: 0;
   font-family: 'Roboto Slab', serif;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align:center;
  font-family: 'Mate SC', serif;
  text-transform: uppercase;
}

section {
  width: 100%;
  padding-top:4rem;
  padding-bottom: 4rem
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
   margin: 0;
  padding: 0;
}

/* button {
   font-size: 15px;
   border-radius: 8px;
   padding: 10px 10px;
   margin-bottom: 6rem;
   margin-left: .3rem;
   margin-left: .8rem;
} */


/* === NAVIGATION ==== */

#navigation  h1 {
  padding-top: 5rem;
  /* font-family: 'Mate SC', serif; */
  color: #FFF;
  font-size: 39px;
}

#navigation {
  width: 100%;
  height: 300px;
  background-color:#B52033 ;
  position: relative;

}

nav img {
  width: 300px;
  height: auto;
  background-color:#B52033;
  position: absolute;
  left: 0;
}

#navigation ul {
  position: absolute;
  /* height: 100%; */
  top: 0;
  right: 0;

}

#navigation ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 .4rem 0 .4rem;
}

#navigation ul > li >  a {

  margin: bottom 14px;;
  display: inline-block;
  color: #FFF;

  font-size: 20px;
  border: 2px solid #B52033 ;
}

/* #navigation .container,
#navigation .row,
#navigation .col-12 {
  width: 100%;
  height: 100%;

} */


#navigation ul > li > a:link {
  color: #FFF;
  text-decoration: none;

}


#navigation ul > li > a:visited {
  color: #FFF;
  text-decoration: none;
}

#navigation ul > li > a:hover {
  color: #80ffff;
  box-shadow: 0px 5px 13px #000;
  /* box-shadow: 0 12px 16px 0 */
  text-decoration: none;

}


#navigation ul > li > a:active {
  color:#FFF;
  text-decoration: none;
}



/* === LISTE DE COMMENTAIRE==== */
 span {
  font-size: 17px;
}

.commentaire ul > li {
    margin-bottom: 1rem;
}

.intro-commentaire > h1 {
  color:#3D3F45;
  font-size: 30px;
  margin: 0;
  padding-bottom: 3rem;
}

.commentaire{
  text-align: center;
  background-color: #F0F0F0;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 3rem .5rem;
  width: 90%;
  border: 1px solid black;
}

.commentaire ul {
  text-align: left;
}



.button1:hover {
  background-color:#4CAF50;
  box-shadow: 0 12px 16px 0;
}

.button2:hover {
  background-color:#FFD700;
  box-shadow: 0 12px 16px 0;
}

.button3:hover {
  background-color:#f44336;
  box-shadow: 0 12px 16px 0;

}

.button1:focus{background-color:#4CAF50;}

.button2:focus{background-color:#FFD700;}

.button3:focus{background-color:#f44336;}

.button1{
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 6rem;
  margin-left: .3rem;
  margin-left: .8rem;
}

.button2{
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 6rem;
  margin-left: .3rem;
  margin-left: .8rem;
}

.button3{
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 6rem;
  margin-left: .3rem;
  margin-left: .8rem;
}

/* .align-center {
  margin: 0 auto;
} */

/*==== Anonymisation des Commentaires===== */

#myTable {
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;
}

th, td {
  text-align: left;
   padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

/* .anonymisation {
  text-align: center;
  background-color: #F0F0F0;
  width: 70%;
  padding: 2.5rem 3rem 2.5rem;
  border: 1px solid black;
}

.anonymisation ol > li {
  margin-bottom: 1rem;
}

.button-form{
  font-size: 15px;
  margin-top: .5rem;
}*/

/*====== VALIDATION DES Factures =======*/
.validation-btn {
  margin-left: 1rem;

}

.validation-btn:hover {
  background-color: #80ffff;
  box-shadow: 0 12px 16px 0;

}


/*=== FOOTER ====*/

 #footer {
  /* background-color: #3D3F45;
  height: 2.8rem;*/
  color: #fff;
  background-color: #3D3F45;
  height: 7rem;
}

#footer-moderation {
  position: relative;
  /* display: inline-block; */
  float: right;

}

#footer-moderation a {
  position: absolute;
  text-decoration: none;
   bottom: 0;
   right: 0;
}


#footer-moderation a:link {
  color: #FFF;

}

#footer-moderation a:visited {
 color: #FFF;
}

#footer-moderation a:active {
 color: #FFF;
}

#footer-moderation a:hover {
 color:#80ffff ;
}

@media (max-width: 565px) {
  #footer span {
    display: none;
  }
}

/* ==== GRID  SYSTEM====== */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display:block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: .8rem;
}

.col-1{width: 16.666%;}
.col-2{width: 33.333%;}
.col-3{width: 50%;}
.col-4{width: 66.666%;}
.col-6{width: 100%;}

@media (max-width: 985px) {

  .col-1{width:33.333% ;}

}

@media (max-width: 768px) {

  .col-1{width: 50%;}
  .col-2{width: 100%;}
  .col-3{width: 100%;}
  .col-4{width: 100%;}

}

@media (max-width: 480px) {

  .col-1{width: 100%;}
  .col-2{width: 100%;}
  .col-3{width: 100%;}
  .col-4{width: 100%;}

}
